certifi==2021.5.30
charset-normalizer==2.0.6
docopt==0.6.2
docutils==0.14
dj-database-url==0.5.0
Django==3.2.7
django-crispy-forms==1.7.2
idna==3.2
lockfile==0.11.0
pipreqs==0.4.10
pystache==0.5.4
python-daemon==2.2.3
requests==2.26.0
simplejson==3.2.0
urllib3==1.26.7
yarg==0.1.9
